@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar-y {
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .no-scrollbar-y::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }

    .dropdown-container select {
        -moz-appearance: none;
        /* for Safari, Chrome, Opera */
        -webkit-appearance: none;
    }

    .text-gradient {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
